/* Переменные scss */
$font-roboto: 'Roboto', sans-serif;
$width: max-width;
$color-green: #66c05d;
$color-dark: #333333;
$color-black: #000000;
$xl: 1200px;
$lg: 992px;
$md: 768px; 
$sm: 640px;
/* Переменные scss */

/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: $font-roboto;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Обнуление стилей */

/*Стили Header*/
.containers {
    width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    @media ($width: $xl) {
        width: 992px;
    }
    @media ($width: $lg) {
        width: 768px;
    }
    @media ($width: $md) {
        width: 640px;
    }
    @media ($width: $sm) {
        width: 300px;
    }
}
/*Стили Header*/
.box {
}
.info-box {
    background-color: #E5E5E5;;
}
.info {
}
.items {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    @media ($width: $sm) {
        justify-content: space-between;
    }
}
.item {
    margin-right: 30px;
    &:hover {
        opacity: 0.5;
    }
    &:last-child {
        margin-right: 0;
    }
    @media ($width: $sm) {
        margin-right: 0px;
    }
}
.text {
    font-weight: 400;
    font-size: 14px;
    color: $color-dark;
}
.text-md {
    @media ($width: $sm) {
        font-size: 12px;
    }
}
.info-firm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;    
    @media ($width: $sm) {
        justify-content: center;
    }
}
.logo {
    display: flex;
    align-items: center;
}
.img-logo {
    margin-right: 20px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    color: $color-green;
}
.phone-info {
    display: flex;
    align-items: center;       
    @media ($width: $sm) {
        flex-direction: column;
    }
}
.phone-info-md {
    @media ($width: $sm) {
        display: none;        
    }
}
.text-url {
    &:hover {
        opacity: 0.5;
    }
}
.text-update {
    font-size: 16px;
    color: $color-black;
}
.btn {
    background-color: #ffffff;
    color: $color-black;
    border: 2px solid $color-green;
    border-radius: 40px;
    padding: 12px 27px;
    margin-left: 40px;
    &:hover {
        background-color: $color-green;
        color: #ffffff;
    }
}

.nav-box {
    background-color: #ffffff;
    border-top: 1px solid #EfEfEf;
    padding: 10px 0;    
    @media ($width: $sm) {
        display: none;
    }
}
/*Стили Header*/

/*Стили Main*/
.back-image {
    background-image: url(../images/back-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 604px;
    display: flex;
    @media ($width: $xl) {
        height: 484px;
    }
    @media ($width: $lg) {
        height: 424px;
    }
    @media ($width: $md) {
        height: 384px;
    }
    @media ($width: $sm) {
        height: 284px;
    }
}
.box-main {
    // display: flex;
    // flex-direction: column;
}

.title-update {
    font-size: 48px;
    color: #ffffff;
    @media ($width: $lg) {
        font-size: 40px;
    }
    @media ($width: $sm) {
        font-size: 32px;
    }
}

.text-color-update {
    color: #ffffff;
    width: 308px;
    margin: 50px 0;
    @media ($width: $md) {
        margin: 30px 0;
    }
    @media ($width: $sm) {
        width: 190px;
    }
    
}
.btn-update {
    background-color: $color-green;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 12px 27px;
    margin-left: 0;
    &:hover {
        background-color: #ffffff;
        color: $color-black;
    }
}


.offers {
    background-color: #efefef;
    padding-bottom: 130px;
    @media ($width: $lg) {        
    padding-bottom: 70px;
    }
    @media ($width: $md) {        
    padding-bottom: 40px;
    }
}
.box {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
}
.title-new-color {
    font-size: 24px;
    color: $color-black;
}
.title-sm {
    @media ($width: $sm) {
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.img-car {
    margin: 0 30px 16px 0;
    @media ($width: $lg) {
        width: 140px;
        margin: 0 20px 16px 0;
     }
     @media ($width: $sm) {
        display: none;
     }
}
.chairs {
    display: flex;
    justify-content: space-between;
    @media ($width: $md) {
        flex-wrap: wrap;
    }
}
.chair {
    width: 255px;
    height: 363px;
    background-color: #ffffff;
    text-align: center;
     padding: 25px 30px;
     @media ($width: $xl) {
        width: 230px;        
     }
     @media ($width: $lg) {
        width: 173px;
        height: fit-content;
        padding: 20px 10px;
     }
     @media ($width: $md) {
         flex-wrap: wrap;
         width: 295px;
         margin-bottom: 21px;
         &:nth-child(3){
            margin-bottom: 0;
         }
         &:nth-child(4){
            margin-bottom: 0;
         }
     }
     @media ($width: $sm) {
        width: 270px;
        margin-bottom: 20px;
        &:nth-child(3){
           margin-bottom: 20px;
        }      
     }
}
.photo-chair {
    width: 125px;
    height: 166px;
    margin-bottom: 20px;
}
.text-price {
    font-weight: 500;
    font-size: 21px;
    color: $color-black;
    margin: 20px 0;
}
.btn-buy {    
    background-color: $color-green;
    border: 2px solid $color-green;
    color: #ffffff;
    padding: 9px 40px;
    margin-left: 0;
    border-radius: 30px;
    &:hover {
        border-radius: 40px;
        background-color: #ffffff;
        color: $color-black;
    }
}

.box-md {
    @media ($width: $md) {        
    display: block;
    }
}
.mailing_list {
    background-color: $color-green;
    width: 560px;
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    @media ($width: $xl) {
        width: 474px;
        padding: 0 13px;     
     }
     @media ($width: $lg) {
        width: 361px;
        padding: 0 13px;     
     }
     @media ($width: $md) {        
     width: 100%;
     margin-bottom: 20px;
     padding-left: 0;
     padding: 0 0; 
     &:first-child {
        display: flex;
        justify-content: center;
     }
     &:last-child {
        margin-bottom: 0;
        padding-left: 81px;
        @media ($width: $sm) {            
        padding-left: 11px;
        }
     }
     }
}
.box-info-list {
    display: flex;
    align-items: center;
}
.info_list {
}
.title-white {
    font-size: 18px;
    color: #ffffff;
}

.text-height-update {
    margin: 25px 0;
    @media ($width: $sm) {
        width: 240px;
    }
}
.your_mail {
    width: 225px;
    height: 35px;
    border-radius: 30px;
    padding-left: 10px;
    &::placeholder {
        color: #c4c4c4;
        font-size: 14px;
      }
}
.message_list {
}
.photo-message {
    @media ($width: $lg) {
        display: none;
    }
    @media ($width: $md) {      
    display: block;
    }
    @media ($width: $sm) {      
    display: none;
    }
}
/*Стили Main*/

/*Стили footer*/
.containers {
}
.box-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;    
    @media ($width: $md) {
        padding: 30px 0;    
    }    
    @media ($width: $sm) {
        flex-direction: column;  
    }
}
.socials {
    display: flex;
    align-items: center; 
    @media ($width: $sm) {
        margin-bottom: 20px; 
    }
}
.social-url {
    margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
.social {
    width: 45px;
    height: 45px;
    border: 2px solid $color-green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-adress {
}
.text-url-phone {
@media ($width: $lg) {
    display: none;
}       
@media ($width: $md) {
    display: block;
}       
@media ($width: $sm) {
    display: block;
    margin: 20px 0;
}
}
@media ($width: $lg) {
.btn-lg {
    margin-left: 0;        
    @media ($width: $md) {
        display: none;
    }
    @media ($width: $sm) {
        display: block;
    }
}
}
.text {
}
.phone-info {
}
.text-url {
}
.text-update {
}
.btn {
}
.info-right {
    background-color: #EfEfEf;
    padding: 25px 0;
}
.footer-right {
    display: flex;
    justify-content: space-between;    
    @media ($width: $md) {
        display: block;
    }
}

.text-footer {
    font-size: 12px;
    color: #828282;    
    @media ($width: $md) {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*Стили Footer*/